<h1>Gallery for <%= current_user.email %></h1>

<hr />

<%= render 'jquery_file_upload/basic_plus_ui/upload' %>
<%= render 'jquery_file_upload/basic_plus_ui/download' %>

<%= render 'jquery_file_upload/basic_plus_ui/form', file: Image.new, as: :src %>

<%= javascript_include_tag 'jquery-file-upload/basic-plus-ui' %>

<hr />

<% @images.each do |image| %>
  <%= image_tag image.src.url %>
<% end %>
